@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');
/* ----------------- */
/* Custom properties */
/* ----------------- */

:root {

/*color*/
--clr-base-000: hsl(0, 0%, 0%);
--clr-base-100: hsl(200, 0%, 35%, 50%);
--clr-accent-600: hsl(43.3, 89%, 54%);


/*font-sizes*/
--ft-size-big: 9vw;
--ft-size-medium: 6vw;
--ft-size-small: 3vw;
--ft-size-tiny: 1vw;
--ft-size-one: 0.5vw;

/*font-fams*/
--fm-main: 'VT323';
--fm-sub: 'monospace';


/* other root sizes */
--border-width-thick: 0.5rem;
--border-width-medium: 0.3rem;
--border-width-thin: 0.15rem;
}

/* ----------------- */
/* Reset */
/* ----------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
w *::after {
box-sizing: border-box;
}

/* Remove default margin */
* {
margin: 0;
padding: 0;
font-family: var(--fm-main), var(--fm-sub);
color: var(--clr-accent-600);
text-decoration: none;

/* outline: 1px solid green !important; */
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
list-style: none;
}

/* Set core root defaults */
html:focus-within {
scroll-behavior: smooth;
}

/* Set core body defaults */
body {
min-height: 100vh;
text-rendering: optimizeSpeed;
line-height: 1.5;
overflow-x: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
text-decoration-skip-ink: auto;
}

/*change default link on click text color*/
a:active {
color: var(--clr-accent-600);
}
/* Make images easier to work with */
img,
picture {
max-width: 100%;
display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
font: inherit;
}
/* Resets button decorations*/
button{
padding: 0;
outline: none;
border-style: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
html:focus-within {
    scroll-behavior: auto;
}

*,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
}
}

/* ----------------- */
/*utility classes*/
/* ----------------- */

.flex {
display: flex;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.justify-self-center {
    justify-self: center;
}
.align-self-center {
    align-self: center;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
.grid {
display: grid;
gap: var(--gap, 1rem);
}
.absolute-center {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}
.accent-text-color {
    color: var(--clr-accent-600);
}

.base-text-color {
    color: var(--clr-base-000);
}

.bg-color-accent {
    background-color: var(--clr-accent-600);
}

.bg-color-base {
    background-color: var(--clr-base-000);
}

.bg-base-alt {
    background-color: var(--clr-base-100);
}

.fs-big {
    font-size: var(--ft-size-big);
}

.fs-medium {
    font-size: var(--ft-size-medium);
}

.fs-small {
    font-size: var(--ft-size-small);
}

.fs-tiny {
    font-size: var(--ft-size-tiny)
}

.fs-one {
    font-size: var(--ft-size-one);
}

.standard-button {
    outline: var(--border-width-thin) solid var(--clr-accent-600);
    background-color: var(--clr-base-000);
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 0.5rem;
}
.standard-button:hover{
    background-color: var(--clr-base-100);
    cursor: pointer;
}
.standard-height {
    height: 4rem;
}
.gap {
    gap: var(--gap, 2rem);
}
.standard-padding {
    padding: 3rem;
}
.standard-margin {
    margin: 3rem;
}
.standard-outline {
    outline: var(--border-width-thin) solid var(--clr-accent-600);
}
/* ----------------- */
/*Main class*/
/* ----------------- */

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--clr-base-000);
}

.name-input {
    padding-left: 0.6rem;
    width: 50vw;
    height: 3rem;
    border: none;
}
/* ----------------- */
/*--------Id---------*/
/* ----------------- */

#welcome {
    padding-bottom: 15vh;
}

#story-introduction {
    outline: var(--border-width-thin) solid var(--clr-accent-600);
}