<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <title>camel shop</title>
</head>
<body class="flex flex-column align-center">
    {% if string %}
        <div class="fs-small standard-margin">{{ string }}</div>
    {% endif %}
    <div class="fs-medium standard-padding">One Camel costs $40.00</div>
        <form method="POST" action="/camel-shop" class = "price-list">  
            <div><input type="submit" name="camel_button" class="fs-small standard-button"  value="Buy 1 camel"></div>
            <div><input type="submit" name="camel_button" class="fs-small standard-button"  value="Buy 10 camel"></div>
            <div><input type="submit" name="camel_button" class="fs-small standard-button"  value="Buy 50 camel"></div>
            <div><input type="submit" name="camel_button" class="fs-small standard-button"  value="Buy 100 camel"></div>
            <div><input type="submit" name="camel_button" class="fs-small standard-button"  value="Buy 200 camel"></div>
            <div><input type="submit" name="camel_button" class="fs-small standard-button"  value="Buy 500 camel"></div>
        </form>
        <a href="#"><button class="standard-button fs-small">Buy</button></a>
    <a href="shop"><button class="fs-small standard-button">Exit to Shop</button></a>
</body>
</html>