<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <title>controls</title>
</head>
<body class="flex flex-column justify-center align-center">
<div class="fs-medium standard-padding">Controls menu</div>
<div class="fs-small">If you found your way here you should be good to go</div>
<div class="fs-small">Simply use the buttons on the screen to navigate</div>
<div class="fs-small">Good luck on your adventure!</div>
<a href="options"><button class="standard-button fs-small standard-margin">Back</button></a>
</body>
</html>