<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <title>food shop</title>
</head>
<body class="flex flex-column align-center">
    <div class="fs-medium standard-padding">One lb of food costs $5.00</div>
    <div class="price-list">
        <div class="standard-button fs-small">Buy 100 food</div>
        <div class="standard-button fs-small">Buy 200 food</div>
        <div class="standard-button fs-small">Buy 500 food</div>
        <div class="standard-button fs-small">Buy 1000 food</div>
        <div class="standard-button fs-small">Buy 1500 food</div>
        <div class="standard-button fs-small">Buy 2000 food</div>

    </div>
        <a href="#"><button class="standard-button fs-small">Buy</button></a>
    <a href="shop"><button class="fs-small standard-button">Exit to Shop</button></a>
</body>
</html>