<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <title>info</title>
</head>
<body class="flex flex-column align-center justify-center">
<div class="fs-medium">This is a game based on Oregaon trail</div>
<div class="fs-small">It was made by:</div>
<div class="fs-small">Connor Johnson</div>
<div class="fs-small">Zoe Strassner</div>
<div class="fs-small">John Lin</div>
<div class="fs-small">Ryan Wahle</div>
<a href="options"><button class="standard-button fs-small">Back</button></a>
</body>
</html>