<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <title>Main menu</title>
</head>
<body>
    <div>today is day (blank)</div>
    <div>you have traveled (blank) miles</div>

    <button><a href="#">continue traveling</a></button>
    <button><a href="#"></a>rest</button>
    <button><a href="#"></a>resources</button>
    <button><a href="#"></a>shop</button>
    <button><a href="#"></a>go hunting</button>
    <button><a href="#"></a>quit to main</button>
</body>
</html>