<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <title>Main menu</title>
</head>
<body class="flex flex-column align-center">


    {% block content %}{% endblock %}
    <img src="static\camel.gif" height="200" width="200">
    <a href="callTraveling"><button class="fs-small standard-button">Continue Traveling</button></a>
    <a href="callRest"><button class="fs-small standard-button">Rest</button></a>
    <a href="resources"><button class="fs-small standard-button">Resources</button></a>
    <a href="shop"><button class="fs-small standard-button">Shop</button></a>
    <a href="hunting"><button class="fs-small standard-button">Go Hunting</button></a>
    <a href="/"><button class="fs-small standard-button">Quit to Main Menu</button></a>
</body>
</html>