<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <title>opening sequence</title>
</head>
<body class="flex flex-column align-center">
<div id="story-introduction" class="fs-small standard-padding">After a massive rager on homecoming weekend, you and your friends find youself in Ancient Mesopotamia. TigerHacks is coming up in 2000 years, and you must start your travels immediately to make it in time You decide to head northwest on foot until you come across four trustworthy camels</div>

<section>
    <div class="fs-small">You decide to...</div>
    <a href="choose-names"><button class="standard-button fs-small">1. Include the Camels on your glorious adventure!</button></a>
    <a href="opening-death"><button class="standard-button fs-small">2. Be boring and not use the camels</button></a>

</section>



</body>
</html>