<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <title>opening death</title>
</head>
<body class="flex flex-column align-center justify-center">
<div class="fs-small standard-padding standard-outline">You set off on foot and then shortly after died traversing the harsh desert You're dying words were "We should have welcomed those camels to our brotherhood"</div>
<a href="/"><button class="standard-button fs-small standard-margin">Reset?</button></a>

</section>
</body>
</html>


