<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <title>Main menu</title>
</head>
<body class="flex flex-column align-center">
    <div class="fs-medium">Options</div>
    <a href="info"><button class="fs-medium standard-button">Info</button></a>
    <a href="controls"><button class="fs-medium standard-button">Controls</button></a>
    <a href="highscore"><button class="fs-medium standard-button">High Scores</button></a>
    <a href='/'><button class="fs-medium standard-button">Back</button></a>
</body>
</html>