<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <title>resources menu</title>
</head>
<body>
    <div>RESOURCES</div>

    <button class="currency"><a href="#">$:</a></button>
    <button class="food"><a href="#">food</a></button>
    <button class="transportation"><a href="#">camels</a></button>
    <button class="clothing"><a href="#">sets of clothes</a></button>
    <button class="ammo"><a href="#">bullets</a></button>
    
</body>
</html>