<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <title>resources menu</title>
</head>
<body class="flex flex-column align-center">
    <div class="fs-medium">RESOURCES</div>

    <a href="#"><button class="fs-small standard-button currency">$: {{ dollar }}</button></a>
    <a href="#"><button class="fs-small standard-button food">Food: {{ food }}</button></a>
    <a href="#"><button class="fs-small standard-button transportation">Camels: {{ camels }}</button></a>
    <a href="#"><button class="fs-small standard-button clothing">Sets of clothes: {{ clothes }}</button></a>
    <a href="#"><button class="fs-small standard-button ammo">Bullets: {{ ammo }}</button></a>
    <a href="morning-menu"><button class="fs-small standard-button">Exit Resources Page</button></a>
    
</body>
</html>