<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <title>shop menu</title>
</head>
<body class="flex flex-column align-center">
    <div class="fs-medium standard-margin">SHOP</div>

    <a href="#"><button class="fs-small standard-button">Food</button></a>
    <a href="#"><button class="fs-small standard-button">Camels</button></a>
    <a href="#"><button class="fs-small standard-button">Clothes</button></a>
    <a href="#"><button class="fs-small standard-button">Bullets</button></a>
    <a href="morning-menu"><button class="fs-small standard-button">Exit Shop</button></a>
    
</body>
</html>